* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    background: #000;
}

a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color .4s, background .4s;
    -o-transition: color .4s, background .4s;
    transition: color .4s, background .4s;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

#container {
    width: 860px;
    height: 560px;
    margin: 0 auto;
    background: #2a1511;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    color: #fff;
    transform: translate(0px, 80px);
    animation: container-view 2s;
}

@keyframes container-view {
    0% {
        transform: translate(0px, -560px);
    }

    100% {
        transform: translate(0px, 80px);
    }
}

.information {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.short-description {
    margin-top: 20px;
}

.short-description h3 {
    font-size: 2.4rem;
}

.description {
    margin-top: 15px;
}

.description .item > * {
    float: left;
    width: 150px;
    white-space: nowrap;
    text-overflow : ellipsis;
    overflow: hidden;
}

.description h5, .item-description-project h5 {
    font-size: 1.8rem;
}

.description span, .description a, .item-description-project span, .item-description-project p, .item-description-project a {
    display: block;
    font-size: 1.6rem;
}

.description a:hover, .project-information ul > li > a:hover, .item-description-project a:hover {
    color: #777;
}

.information .more {
    display: block;
    width: 220px;
    height: 30px;
    margin: 20px auto 0;
    background: #228922;
    border-radius: 10px;
    font-size: 1.8rem; 
    line-height: 30px;
    text-align: center;
}

.information .more:hover {
    background: #0e500e;
}

.project-information {
    width: 470px;
    float: left;
}

.project-information h3 {
    font-size: 2.4rem;
    text-align: center;
}

.project-information ul {
    margin-top: 20px;
    list-style: none;
}

.project-information li > span {
    font-size: 1.8rem;
}

.project-information li > span.button-more {
    color: #b55656;
    cursor: pointer;
    float: right;
}

.project-information li > span.button-more:hover, .project-information .button-more.active {
    color: #bb2222;
}

#project-list .displayElement {
    display: block;
}

.project-item {
    display: none;
    padding: 10px;
}

.item-description-project {
    margin-top: 10px;
}

.item-description-project h5, .item-description-project span, .item-description-project p, .item-description-project a {
    float: left;
}

.item-description-project h5 {
    width: 150px;
}

.item-description-project span, .item-description-project p, .item-description-project a {
    width: 300px;
}